*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.griglia{
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 80%;
  border: 1px solid black;
}

.casella{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
}

.green{
  background-color: lightgreen;
}

.facile{
  width: calc( 100% / 10);
}

.media{
  width: calc( 100% / 9);
}

.difficile{
  width: calc( 100% / 7);
}